
#hero .gambar-1{
  height: 40vw;
}

#hero .heading{
    background-color: #ffffffd7;
    color: #000;
    top: 20vw;
    left: 35vw;
    width: 35vw;
    border-radius: 5px;
    text-align: center;
}
#biografi p{
    text-align: justify;
}